.container {
  padding: 1rem;
}

.register__header {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  font-size: 1.4rem;
}

.register__header h2 {
  text-align: center;
  width: 100%;
}

.new_user {
  margin-top: 3rem;
}

.field {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.field input[type=email],
.field input[type=text],
.field input[type=password] {
  flex: 2;
  padding: 0.5rem;
}

.field input[type=checkbox] {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
}

.field label {
  flex: 1;
}

.actions input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.container a {
  font-size: 1rem;
}

#error_explanation {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
