* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNovaFont.otf');
}

body {
  font-family: 'ProximaNova';
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
