.operation__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.operation__title {
  font-size: 1.6rem;
  flex: 1;
  text-align: center;
}

.fa-sign-out-alt,
.fa-arrow-left {
  font-size: 1.6rem;
}

.operation__container {
  width: 100%;
  padding: 1rem;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.form-group label {
  flex: 1;
  font-size: 1rem;
}

.form-group input {
  flex: 3;
  padding: 0.5rem;
}

.operation__footer input {
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}
